body {
    background-color:  #f6fffe;
    font-family: "Prompt", sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #374151;
}
.Carousel {
    color: #ffffff;
    font-family: "Prompt", sans-serif;
    font-size: 2rem;
}
.main-nav {
    color: #2d2d2d;
    font-weight: bold;
     font-family: "Prompt", sans-serif;
    font-size: 2rem;

}
.card{
  transition: transform .2s ease, box-shadow .2s ease;
}
.card:hover{
  transform: translateY(-6px);
  box-shadow: 0 10px 24px rgba(0,0,0,.15);
}
footer {
    background-color: #00432c;
    color: rgba(255, 255, 255, 0.8);   /* ขาว 80% */
    text-align: center;
    padding: 2rem;
}